<div class="row">
  <div class="col-xs-12"><hr>
      <button class="button" style="vertical-align:middle"><span>New Recipe </span></button>
  </div></div><hr>
  
<div class="row">
  <div class="col-xs-12">
    <a
     href="#"
      class="list-group-item clearfix" *ngFor="let recipe of recipes">
      <div class="pull-left">
        <h6 class="list-group-item-heading">{{ recipe.name}}</h6>
        <p class="list=group-item-text">{{ recipe.description}} </p>
      </div>
      <span class="pull-right">
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/15/Recipe_logo.jpeg" alt="image not visible" class="img-responsive" style="max-height:50px">
      </span>
    </a>
    <app-recipes-item></app-recipes-item>
  </div>
</div>


